@font-face {
    font-family:futura;
    src: url(/Futura-Bold.ttf);
}
@font-face {
    font-family:helvetica;
    src: url(/HelveticaNowText-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color:#fff;

    .circle{
        height: 200vh;
        width: 200vh;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -100vh;
        transform: translate(0,-50%) rotate(100deg);
        border: 3px solid #dadada;
       

        .stripe{
            width: 100%;
            height: 60px;
           
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: 0% 50%;
            transform: translate(0%,-50%);
            display: flex;

         

        }
    }
}

#strip1{
    transform: translate(0%,-50%) rotate(-20deg);
  
}
#strip2{
    transform: translate(0%,-50%) rotate(-10deg);
  
}

#strip4{
    transform: translate(0%,-50%) rotate(10deg);
  
}
#strip5{
    transform: translate(0%,-50%) rotate(20deg);
  
}

.first{
    height: 100%;
    width: 50%;
    position: relative;

    .smallcircle{
        height: 1vw;
        width: 1vw;
        border-radius: 50%;
        background-color: #dadada;
        position: absolute;
        right: -0.6vw;
        top: 50%;
        transform: translate(0,-50%);
    }

}
.second{
    height: 100%;
    width: 50%;
    padding-left: 25px;
    

   h1{
       font-family:helvetica;
       font-weight: 500;
       font-size: 2vw;
    }
    
    h3{
       font-family:helvetica;
       font-size: 1vw;
       opacity: 0.5;
        
    }

}

.button-panel{
    width: 10%;
    height: 20%;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    .min-circle{
        width: 1vw;
        height: 1vw;
        background-color: black;
        opacity: 0.2;
        border-radius: 50%;
        cursor: pointer;
    }
}

